<div id="frg-footer">
  <div class="container">
    <div class="row">
      <div class="frg-bottom-menu">
        <ul class="nav navbar nav-pills">
          <li><%= link_to t("static_pages.home") %></li>
          <li><%= link_to t("static_pages.help") %></li>
          <li><%= link_to t("home.contact") %></li>
          <li><%= link_to t("home.site_map") %></li>
          <li><%= link_to t("home.on_pitch") %></li>
        </ul>
      </div>
      <div class="frg-bottom-info">
        <h4><%= t "static_pages.title" %></h4>
      </div>
    </div>
  </div>
</div>
