<% provide :title, t("static_pages.home") %>
<div class="row">
  <body>
    <%= render "top_header" %>
    <%= render "post" %>
    <div id="frg-wrapper">
      <div class="container">
        <div id="frg-schedule">
          <div class="row">
            <div class="col-sm-8">
              <div class="frg-schedule">
                <h1><i class="fa fa-soccer-ball-o"></i><%= t "home.schedule" %></h1>
                <div class="frg-schedule-daily">
                  <% @seasons.each do |season| %>
                    <h2><%= season.name %></h2>
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th><%= t "home.start" %></th>
                          <th><%= t "home.match" %></th>
                          <th><%= t "home.goal" %></th>
                          <th><%= t "home.point" %></th>
                        </tr>
                      </thead>
                      <tbody>
                      <% season.load_matches.each do |hash_match| %>
                        <tr>
                          <td colspan="5"><strong class="text-info">
                            <%= hash_match.first %></strong></td>
                        </tr>
                        <% hash_match.second.each do |match| %>
                          <tr>
                            <td><i class="fa fa-tv"></i><%= match.hour %></td>
                            <td><%= match.name %><span></td>
                            <td>
                              <%= match.goals %>
                            </td>
                            <td>
                              <%= match.points %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                      </tbody>
                    </table>
                  <% end %>
                </div>
                <p><%= link_to t("home.more_football"), class: "fa fa-caret-right" %></p>
              </div>
            </div>
            <%= render "left_content_ranking" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "bottom_footer" %>
  </body>
</div>
