<div class="row">
  <div class="col-md-10 col-offset-2">
    <h2><%= t "admin.season.list_season" %></h2>
    <p class="pull-right label label-info"><%= link_to t("admin.season.new_season"),
      new_admin_season_path %></p>
    <table class="table table-striped table-hover">
      <thead>
        <th><%= t "admin.season.name" %></th>
        <th><%= t "admin.season.description" %></th>
        <th><%= t "admin.season.number_of_team" %></th>
        <th><%= t "admin.season.number_of_match" %></th>
        <th><%= t "admin.season.update" %></th>
        <th><%= t "admin.season.delete" %></th>
      </thead>
      <tbody>
        <% @seasons.each do |season| %>
          <tr>
            <td><%= season.name %></td>
            <td><%= season.description %></td>
            <td><%= season.season_teams.count %></td>
            <td><%= season.matches.count %></td>
            <td><%= link_to t("admin.season.edit_season"), edit_admin_season_path(season) %></td>
            <td class="td_style"><%= link_to t("admin.season.destroy"), admin_season_path(season),
              method: :delete, data: {confirm: t("admin.season.sure")} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
