<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>
      <%= t "mailer.hi" %>, <%= @current_user.email %></br>
      <%= t "mailer.sys_send_notice" %>
      <%= @admin.email %>!
    </h2>
    <p><%= t "mailer.go_to_check" %></p>
  </body>
</html>
