<div class="row">
  <div class="col-md-10 col-offset-2">
    <h2><%= t "admin.post.list_post" %></h2>
    <table class="table table-striped table-hover">
      <thead>
        <th><%= t "admin.post.image" %></th>
        <th><%= t "admin.post.title" %></th>
        <th><%= t "admin.post.content" %></th>
        <th><%= t "admin.post.season_name" %></th>
        <th><%= t "admin.post.match_name" %></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.image %></td>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= post.season.name %></td>
            <td><%= post.match.name %></td>
            <td>
              <%= link_to [:edit, :admin, post], class: "btn btn-primary btn-xs" do %>
                <span class="glyphicon glyphicon-eye-open"></span> 
                <%= t "admin.post.edit_post" %>
              <% end %>
            </td>
            <td>
              <%= link_to [:admin, post], method: :delete,
                data: {confirm: t("admin.post.sure")},
                class: "btn btn-primary btn-xs" do %>
                <span class="glyphicon glyphicon-eye-open"></span> <%= t "admin.post.destroy" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to new_admin_post_path, class: "btn btn-primary btn-xs" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
      <%= t "admin.post.new_post" %>
    <% end %>
  </div>
</div>
