<div class="row">
  <div class="col-md-10 col-offset-2">
    <h2><%= t "admin.player.list_player" %></h2>
    <table class="table table-striped table-hover">
      <thead>
        <th><%= t "admin.player.name" %></th>
        <th><%= t "admin.player.date_of_birth" %></th>
        <th><%= t "admin.player.position" %></th>
        <th><%= t "admin.player.jersey_number" %></th>
        <th><%= t "admin.player.nationality" %></th>
        <th><%= t "admin.player.image" %></th>
        <th><%= t "admin.player.team" %></th>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= link_to player.name, player_path(player) %></td>
            <td><%= player.date_of_birth %></td>
            <td><%= player.position %></td>
            <td><%= player.jersey_number %></td>
            <td><%= player.nationality %></td>
            <td class="td_style"><%= image_tag player.image.url if player.image? %></td>
            <td><%= player.team.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
