<%= render "static_pages/top_header" %>
<div class="row">
  <div class="col-md-8">
    <div class="thumbnail">
      <div class="caption">
        <h4><%= @post.title %></h4>
        <p class="frg-tag"><%= @post.created_at %></span></p>
        <p class="frg-summary"><%= @post.content %></p>
        <p class="frg-summary"><%= @post.image.url %></p>
      </div>
    </div>
  </div>
  <%= render partial: "static_pages/left_content_ranking", seasons: @seasons %>
</div>
<%= social_share_button_tag @post.title %>
<%= render "static_pages/bottom_footer" %>
