<%= render "layouts/search" %>
<div class="row">
  <div class="col-md-10 col-offset-2">
    <h2><%= t "admin.list_team" %></h2>
  </div>
    <p class="pull-right label label-info"><%= link_to t("admin.new_team"),
      new_admin_team_path %></p>
    <table class="table table-striped table-hover table-style">
      <thead>
        <th class="th-style"><p><%= t "admin.team.name" %></p></th>
        <th class="th-style"><p><%= t "admin.team.logo" %></p></th>
        <th class="th-style"><p><%= t "admin.team.coach" %></p></th>
        <th class="th-style"><p><%= t "admin.team.country" %></p></th>
        <th></th>
        <th></th>
      </thead>
      <tbody> 
        <% @teams.each do |team| %>
          <tr>
            <td class="td_style"><%= link_to team.name, admin_team_path(team) %></td>
            <td class="td_style"><%= image_tag team.logo.url if team.logo? %></td>
            <td class="td_style"><%= team.coach %></td>
            <td class="td_style"><%= team.country %></td>
            <td class="td_style"><%= link_to t("admin.team.delete"), admin_team_path(team),
              method: :delete, data: {confirm: t("admin.team.delete_message")} %>
            </td>
            <td><%= link_to t("admin.team.edit"), edit_admin_team_path(team) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
